@import url("observablehq:default.css");

:root {
  --theme-background: #ffffff;
  --theme-foreground: #313131;
  --theme-foreground-focus: #4977AB;
  --theme-background-alt: #f6f8fb;
  --theme-foreground-alt: #313131;
}

footer {
  width: 100% !important;
}

footer nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  max-width: 100% !important;
}

footer nav a {
  flex: 0 0 auto !important;
}

footer nav a:first-child {
  margin-right: auto !important;
}

footer nav a:last-child {
  margin-left: auto !important;
}

